/*font-family: 'Open Sans', sans-serif;*/
/*Green gradation from #77c043 #5aa345 #36702c*/
/*Purple from #803795 #4f235c*/

/* logo and nav */

#logo {
	margin-top: 30px;
}

.nav-links {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.nav-links a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #2d1336;
}

.navword {
  padding: 15px;
}

/* hero section */

.hero-image {
  height: 900px;
  width: 100%;
  background-image:url("https://raw.githubusercontent.com/JessicaMeyer/img/master/pskhero.jpg");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-wording {
  padding-top: 50px;
}

.hero-title {
  color: #713187;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 70%;
}


#hero-button {
  background-color: #5ea545;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border: 4px solid #5ea545;
  font-size: 15px;
}

/* home page What are EO section */

#EO-container {
  margin-bottom: 50px;
}

.EO-title {
  color: #803795;
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; 
  text-align: center;
  margin-top: 60px;  
}

.EO-text {
  color: #2b2820;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  margin-top: 50px; 
}

#EO-button {
  background-color: #5ea545;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border: 4px solid #5ea545;
  font-size: 18px;
}

/* about oils page */

#mainphotogrid-container {
  margin-top: 30px;
}

.about-EO-page-title {
  color: #803795;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; 
  text-align: center; 
  margin-top: 40px;
  margin-bottom: 20px;
}

.about-EO-page-text {
  font-weight: 400px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.seedtosealword {
  color: #803795;
  text-decoration: underline;;
}

/*thieves page */



/* savvy page */