/*font-family: 'Open Sans', sans-serif;*/
/* logo picture overlay color 405853 */

/* logo and nav */

#logo {
	margin-top: 30px;
}

.nav-links {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.nav-links a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: black;
}

.navword {
/*  margin-right: 5px;
  margin-left: 5px;*/
  padding: 15px;
}

/* hero section */

.hero-image {
  height: 550px;
  width: 100%;
  background-image:url("https://raw.githubusercontent.com/JessicaMeyer/img/master/oilyhero.png");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-wording {
  padding-top: 50px;
}

.hero-title {
  color: #FFFFFF;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  width: 65%;
}

/*.hero-text {
  color: #FFFFFF;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-top: -10px;
}*/

#hero-button {
  background-color: #38363e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border: 4px solid #2b2820;
  font-size: 15px;
}

/* What are EO section */

#EO-container {
  margin-bottom: 50px;
}

.EO-title {
  color: #b7645a;
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 60px; 
  text-align: center; 
}

.EO-text {
  color: #2b2820;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  margin-top: 50px; 
}

#EO-button {
  background-color: #38363e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border: 4px solid #2b2820;
  font-size: 15px;
}

/* whats in the kit section */

#Kit-container {
  background-color: #ffcaca;
}

.PSK-title {
  color: #b7645a;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 50px; 
  text-align: center; 
}

.PSKkit-text {
  color: #38363e;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

.kit-images {
  border-radius: 60%;
  margin-left: 25px;
  padding-top: 20px;
  vertical-align: center;
}

.kit-oil-title {
  color: #b7645a;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; 
  text-align: center;
  border: 1px solid #b7645a;
  margin-right: 25px;
  margin-top: 25px;
}

.kit-oil-text {
  color: #38363e;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
  text-align: center;
  margin-right: 25px;
}

#oil-stack {
  padding-top: 30px;
}

/* this title is for the oil bottles*/

.pskpic {
  vertical-align: center;
  width: 100%;
}
